<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Song Tracker</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/songs/new">Add</a>
        <a href="/songs">All</a>
        <a href="/songs/learned">Learned</a>
        <a href="/songs/to-learn">To Learn</a>
        <a href="/profiles">View Users</a>
    </nav>
      
    <h1>Learned Songs</h1>

    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Artist</th>
            </tr>
        </thead>
        <tbody>
            <% songs.forEach(song => { %>
             <tr>
                 <td><a href="/songs/<%= song._id %>"><%= song.title %></a></td>
                 <td><%= song.artist %></td>
                 <td>
                    <form action="/songs/learned/<%= song._id %>/?_method=DELETE" method="post">
                       <button type="submit">X</button>
                   </form>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
    
</body>
</html>