<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="./../../stylesheets/style.css">
    <title>Song Tracker</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/songs/new">Add</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/songs">All</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/songs/learned">Learned</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/songs/to-learn">To Learn</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profiles">View Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/auth/logout">Log Out</a>
                </li>
            </ul>
        </div>
    </nav>

    <main class="mx-auto">
        <div class="container">
            <h1>Add Song</h1>
            <form action="/songs" method="post">
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" name="title" class="form-control" required>
                </div>
                <div class="form-group">
                    <label>Artist</label>
                    <input type="text" name="artist" class="form-control" required>
                </div>
                <div class="form-group">
                    <label>Key</label>
                    <input type="text" name="key" class="form-control" required>
                </div>
                <div class="form-group">
                    <label>Chords</label>
                    <input type="text" name="chords" class="form-control" required>
                </div>
                <div class="form-check">     
                    <label>Learned</label>
                    <input type="checkbox" name="status" value="Learned" onclick="return selectOnlyLearned()">
                    <label>To Learn</label>
                    <input type="checkbox" name="status" value="To Learn" onclick="return selectOnlyToLearn()">
                </div>
                <button type="submit" class="btn">Add</button>
            </form>
        </div>
    </main>

    <script>
        function selectOnlyLearned() {
            statusEls = document.getElementsByName('status');
            if (statusEls[1].checked === true) {
                statusEls[1].checked = false;
            }
        }
        function selectOnlyToLearn() {
            statusEls = document.getElementsByName('status');
            if (statusEls[0].checked === true) {
                statusEls[0].checked = false;
            }
        }
    </script>
</body>
</html>