<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="./../../stylesheets/style.css">
    <title>Song Tracker</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/songs/new">Add</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/songs">All</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/songs/learned">Learned</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/songs/to-learn">To Learn</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profiles">View Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/auth/logout">Log Out</a>
                </li>
            </ul>
        </div>
    </nav>
      
    <main class="mx-auto">
        <div class="container">
            <h1>Songs To Learn</h1>
        
            <% if (profile.songs.some(song => song.status === 'To Learn')) { %>
                <table class="table table-dark table-striped">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Artist</th>
                            <th></th> <!-- added this so bootstrap would format the column header for the delete column as well-->
                        </tr>
                    </thead>
                    <tbody>
                        <% profile.songs.forEach(song => { %>
                            <% if (song.status === 'To Learn') { %>
                                <tr>
                                    <td><a href="/songs/<%= song._id %>"><%= song.title %></a></td>
                                    <td><%= song.artist %></td>
                                    <td>
                                        <form action="/songs/to-learn/<%= song._id %>/?_method=DELETE" method="post">
                                        <button type="submit" class="btn btn-sm">X</button>
                                    </form>
                                    </td>
                                </tr>
                            <% } %>
                        <% }) %>
                    </tbody>
                </table>
            <% } else { %>
                <h2>No songs have been added yet</h2>
            <% } %>
        </div>
    </main>
    
</body>
</html>